body {
    border: none;
}


.btn a {
    background-color: #fa1186be;
    height: 37px;
    width: 181px;
    border-radius: 10px;
    color: white;
}

.btn a:hover {
    color: white;
}

.header {
    margin: 0;
    padding: ;

}

form {
    justify-content: flex-end;
}

.col p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.uk-card-default {
    background-color: #fff;
    color: #666;
    box-shadow: none;
}



.second-page {
    display: flex;
    justify-content: center;
}

.second-page-profile {
    height: 147px;
    width: 200px;
    background-color: rgb(30 21 21 / 12%);
    border-radius: 50%;
}

@media (max-width:767px) {
    .second-page-image img {
        width: 50px;

    }
}



/* third page  */

.form-check-label img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.row :hover {
    background-color: rgb(247, 243, 243);
    border-radius: 20px;

}

.finish {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width:555px) {
    .row {
        flex-direction: column;
    }
}