body {
    border: none;
}

.btn button {
    background-color: #c06b9561;
    height: 40px;
    width: 165px;
    border-radius: 10px;
    color: white;
}

.header {
    margin: 0;
    padding: ;

}

form {
    justify-content: flex-end;
}

.col p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.uk-card-default {
    background-color: #fff;
    color: #666;
    box-shadow: none;
}